body { background: white; }
#elem_cKV4wVZ8nY { color: rgb(232, 20, 164); }
#elem_SIQuOPpVwk { color: rgb(132, 74, 178); }
#elem_nU6C3NZkqu { color: rgb(231, 75, 13); }
#elem_oNc7o4P4uO { color: rgb(86, 222, 193); }
#elem_iv0Z8p8RN9 { color: rgb(205, 207, 30); }
